// 内边距
.ezui-p8 {
  padding: 8px;
}

.ezui-p16 {
  padding: 16px;
}

// 外边距
.ezui-m8 {
  margin: 8px;
}

.ezui-m16 {
  margin: 16px;
}

// 居中
.ezui-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ezui-center-col {
  display: flex;
  justify-content: center;
}

.ezui-center-row {
  display: flex;
  align-items: center;
}

// 文字大小
.ezui-font-12 {
  font-size: 12px;
}

.ezui-font-14 {
  font-size: 14px;
}

.ezui-font-16 {
  font-size: 16px;
}

// 清除浮动
.ezui-clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}